* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  display: flex;
  width: 100vw;
  height: auto;
  align-items: center;
  justify-content: center;
  padding: 2,5vh;
  background-color: antiquewhite;
}

.contenido{
  display: inline-block;
}
.contewnido h1{
  text-align: center;
  margin-bottom: 2vh;
}